{
  "plugins": ["prettier-plugin-solidity"],
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 2
      }
    }
  ]
}
